@use '../util' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-style: normal;
  font-weight: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--neutral-900);
  background-image: url('../../images/pattern-lines.svg'),
    url('../../images/background-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: var(--neutral-0);
  font-family: var(--ff-primary);
  box-sizing: border-box;
  overflow-x: hidden;

  @include breakpoint(tablet) {
    background-image: url('../../images/pattern-lines.svg'),
      url('../../images/background-tablet.png');
  }

  @include breakpoint(desktop) {
    background-image: url('../../images/pattern-lines.svg'),
      url('../../images/background-desktop.png');
  }
}

body {
  position: relative;
  padding-block-start: rem(33);
  padding-block-end: rem(114);
  padding-inline: rem(16);

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    background-image: url('../../images/pattern-squiggly-line-bottom-mobile-tablet.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: rem(209.91);
    width: rem(301);
    z-index: 0;
  }

  @include breakpoint(tablet) {
    padding-inline: 0;

    &::after {
      height: rem(276.16);
      width: rem(396);
    }
  }

  @include breakpoint(desktop) {
    padding-block-end: rem(134);

    &::after {
      background-image: url('../../images/pattern-squiggly-line-bottom-desktop.svg');
      background-size: cover;
      height: rem(476);
      width: rem(825);
    }
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: rem(1);
  width: rem(1);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
