@use '../util' as *;

.form {
  position: relative;
  z-index: 1;
  fieldset {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    border: none;
    padding: 0;
    margin: 0 auto;
    max-width: rem(522);

    @include breakpoint(desktop) {
      max-width: rem(460);
    }
  }

  &-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(50);
    width: rem(50);
    border: rem(1) solid var(--neutral-500);
    border-radius: var(--br-12);
    margin-block-end: rem(16);
    box-shadow: 0 rem(2) rem(4) rem(-2) #040128;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: rem(57);
      height: rem(57);
      object-fit: cover;
    }
  }

  &-group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: rem(12);

    .upload {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: rem(126);
      border: rem(1) dashed var(--neutral-500);
      border-radius: var(--br-12);
      color: var(--neutral-300);

      p {
        font: var(--text-preset-6);
        letter-spacing: var(--ls-0);
      }
    }

    p {
      color: var(--neutral-300);
      font: var(--text-preset-7);
      letter-spacing: var(--ls--2);

      svg {
        height: rem(16);
        width: rem(16);
        vertical-align: bottom;
      }
    }

    label {
      font: var(--text-preset-5);
      letter-spacing: var(--ls--5);
      color: var(--neutral-0);
    }

    input {
      cursor: pointer;
      display: flex;
      align-items: center;
      border: rem(1) solid var(--neutral-500);
      color: var(--neutral-0);
      padding-inline: rem(16);
      height: rem(54);
      border-radius: var(--br-12);
      font: inherit;

      &::placeholder {
        color: var(--neutral-300);
      }

      &:focus {
        outline: rem(1) solid var(--neutral-0);
        outline-offset: rem(2);
        box-shadow: 0 0 0 rem(3) #000, 0 0 0 rem(4) var(--neutral-0);
      }
    }
  }
}

.blur {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5px); /* Blur the content behind the element */
  -webkit-backdrop-filter: blur(5px); /* For Safari compatibility */
  transition: var(--transition);

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
