@use '../util' as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  gap: rem(40);
  max-width: rem(700);
  margin-inline: auto;
  margin-block-end: rem(40);

  &.complete {
    margin-block-end: rem(72);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: rem(-16);
    background-image: url('../../images/pattern-squiggly-line-top.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(112);
    height: rem(52.23);
  }

  &__logo {
    svg {
      width: rem(166.53);
      height: rem(24);
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: rem(20);
    font: var(--text-preset-4);
    letter-spacing: var(--ls--5);
    color: var(--neutral-300);

    h1 {
      font: var(--text-preset-1);
      letter-spacing: var(--ls--1);
      color: var(--neutral-0);

      span {
        background-image: var(--gradient);
        background-clip: text;
        --webkit-background-clip: text;
        color: transparent;
        --webkit-text-fill-color: transparent;
      }
    }

    p {
      max-width: rem(514);
    }

    p span {
      color: var(--orange-500);
    }
  }

  @include breakpoint(tablet) {
    gap: rem(60);

    &.complete {
      margin-block-end: rem(80);
    }

    &::before {
      top: rem(48);
      height: rem(108.2);
      width: rem(232);
      right: rem(-32);
    }

    &__logo {
      svg {
        width: rem(208.66);
        height: rem(30);
      }
    }

    &__text {
      gap: rem(32);
    }
  }

  @include breakpoint(desktop) {
    max-width: rem(891);
    &.complete {
      margin-block-end: rem(109);
    }

    &::before {
      height: rem(208);
      width: rem(446);
      right: rem(-250);
    }
  }
}
