@use '../util' as *;

.ticket {
  position: relative;
  max-width: rem(600);
  margin-inline: auto;
  z-index: 2;

  @include breakpoint(desktop) {
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      right: rem(-130);
      background-image: url('../../images/pattern-circle.svg');
      height: rem(217);
      width: rem(217);
      z-index: -2;
    }
  }

  svg {
    position: relative;
    z-index: 20;
    max-width: 100%;
    height: auto;
    background: var(--neutral-900);
    backdrop-filter: blur(5px); /* Blur the content behind the element */
    -webkit-backdrop-filter: blur(5px); /* For Safari compatibility */
  }

  &__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(16) 0 rem(16) rem(16);
    z-index: 100;

    @include breakpoint(tablet) {
      padding: rem(24) 0 rem(24) rem(24);
    }
  }

  &__meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: rem(32);

    @include breakpoint(tablet) {
      gap: rem(74);
    }
  }

  &__header {
    display: flex;
    gap: rem(12);

    &-logo {
      height: rem(29);
      width: rem(29);
      margin-block-start: rem(4);

      svg {
        display: block;
        height: rem(29);
        width: rem(29);
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: rem(8);

      h2 {
        font: var(--text-preset-2);
        letter-spacing: var(--ls--1);
      }
    }

    &-meta {
      font: var(--text-preset-6);
      letter-spacing: var(--ls--2);
      color: var(--neutral-300);
    }

    &-date {
      font: var(--text-preset-6);
      letter-spacing: var(--ls--2);
      color: var(--neutral-300);
    }

    @include breakpoint(tablet) {
      gap: rem(20);
      &-logo {
        margin-block-start: rem(6);
        height: rem(40);
        width: rem(40);
        svg {
          height: rem(40);
          width: rem(40);
        }
      }

      &-text {
        gap: rem(12);
      }
    }
  }

  &__info {
    display: flex;
    gap: rem(12);

    .avatar {
      position: relative;
      width: rem(45);
      height: rem(45);
      overflow: hidden;
      border-radius: var(--br-8);

      img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: rem(50);
        height: rem(50);
        object-fit: cover;
        border-radius: var(--br-8);
      }
    }

    h3 {
      font-weight: 500;
      font-size: rem(20);
      letter-spacing: rem(-1);
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: rem(8);

      .git-user {
        display: flex;
        align-items: center;
        gap: rem(6);
        font: var(--text-preset-6);
        color: var(--neutral-300);

        svg {
          height: rem(16);
          width: rem(16);
        }
      }
    }

    @include breakpoint(tablet) {
      gap: rem(16);
      align-items: center;
      .avatar {
        width: rem(80);
        height: rem(80);
        border-radius: var(--br-12);

        img {
          width: rem(97);
          height: rem(97);
          border-radius: var(--br-12);
        }
      }

      h3 {
        font-size: rem(30);
      }

      &-text {
        .git-user {
          font: var(--text-preset-5);
          gap: rem(10);

          svg {
            height: rem(22);
            width: rem(22);
          }
        }
      }
    }
  }

  &__number {
    transform: rotate(90deg);
    font: var(--text-preset-3);
    font-weight: 500;
    letter-spacing: var(--ls--1);
    color: var(--neutral-500);
  }
}
